<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                TODO List
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="btn btn-sm" (click)="showAddForm()">Add Task</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid " c-margin>
    <div class="row justify-content-center ">
        <ng-template appPlaceholder ></ng-template>
    </div>
</div>